<div class="min-h-screen bg-gray-800 text-white">
  <nav class="bg-gray-800 p-4">
    <div class="container mx-auto flex justify-between items-center">
      <div class="text-white text-2xl font-bold">
        <a href="#">Brand</a>
      </div>
      <div class="hidden lg:flex space-x-4">
        <a
          href="#"
          class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
          >Home</a
        >

        <a
          (click)="logout()"
          class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
          >Log out</a
        >
      </div>
      <div class="lg:hidden flex items-center">
        <button
          id="nav-toggle"
          class="text-gray-300 hover:text-white focus:outline-none focus:text-white"
        >
          <svg
            class="h-6 w-6"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
            />
          </svg>
        </button>
      </div>
    </div>
    <div id="nav-content" class="hidden lg:hidden">
      <a
        href="#"
        class="block text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
        >Home</a
      >
      <a
        href="#"
        class="block text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
        >List of users</a
      >
      <a
        (click)="logout()"
        href="#"
        class="block text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
        >Log out</a
      >
    </div>
  </nav>

  <!-- Main Content -->
  <main class="flex-1 p-6">
    <header class="flex justify-between items-center pb-6">
      <h2 class="text-3xl font-semibold">Admin Dashboard</h2>
      <div class="px-5 py-2 bg-red-500 rounded-lg">
        <h2>Hello {{ Uname }}</h2>
        <h2>{{ Uemail }}</h2>
      </div>
    </header>
    <!-- Content -->
    <div class="grid grid-cols-1 gap-6">
      <!-- User Table -->
      <div class="bg-gray-900 p-6 rounded-lg shadow-lg">
        <h3 class="text-xl font-semibold mb-4">All Users</h3>
        <div class="overflow-x-auto">
          <table class="min-w-full">
            <thead>
              <tr>
                <th class="py-2 px-4 bg-gray-700 text-left font-bold">Name</th>
                <th class="py-2 px-4 bg-gray-700 text-left font-bold">
                  Lastname
                </th>
                <th class="py-2 px-4 bg-gray-700 text-left font-bold">Email</th>
              </tr>
            </thead>
            <tbody>
              <!-- Example Row -->
              <tr *ngFor="let user of users">
                <td class="py-2 px-4 border-b">{{ user.name }}</td>
                <td class="py-2 px-4 border-b">{{ user.lastname }}</td>
                <td class="py-2 px-4 border-b">{{ user.email }}</td>
              </tr>
              <!-- More rows... -->
            </tbody>
          </table>
        </div>
      </div>
      <h3 class="text-xl font-semibold">List of Formmulaires</h3>
      <div class="w-full bg-gray-800 p-5 flex gap-4 flex-wrap">
        <div *ngFor="let formulaire of formulaires">
          <div
            [ngClass]="{
              '': !formulaire.message,
              ' border border-red-500': formulaire.message
            }"
            id="card"
            class="bg-gray-900 min-h-64 min-w-56 rounded-lg text-white py-2 px-4 shadow-md"
          >
            <p class="uppercase">
              {{ formulaire.name }} {{ formulaire.lastname }}
            </p>
            <hr />
            <p>
              Phone: <span class="text-red-500"> {{ formulaire.phone }}</span>
            </p>
            <p>Monday: {{ formulaire.Monday }}</p>
            <p>Tuesday: {{ formulaire.Tuesday }}</p>
            <p>Wednesday: {{ formulaire.Wednesday }}</p>
            <p>Thursday: {{ formulaire.Thursday }}</p>
            <p>Friday: {{ formulaire.Friday }}</p>
            <p>Saturday: {{ formulaire.Saturday }}</p>
            <p>Sunday: {{ formulaire.Sunday }}</p>
            <hr />
            <p>Message: {{ formulaire.message }}</p>
          </div>
        </div>
      </div>

      <!-- Schedule Creation -->
      <div class="bg-gray-900 p-6 rounded-lg shadow-lg">
        <h3 class="text-xl font-semibold mb-4">Create Schedule</h3>
        <form (ngSubmit)="submitSchedule()">
          <table class="min-w-full">
            <thead>
              <tr>
                <th class="py-2 px-4 bg-gray-700 text-left font-bold">Day</th>
                <th class="py-2 px-4 bg-gray-700 text-left font-bold">
                  Period 1
                </th>
                <th class="py-2 px-4 bg-gray-700 text-left font-bold">
                  Period 2
                </th>
                <th class="py-2 px-4 bg-gray-700 text-left font-bold">
                  Period 3
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let day of scheduleData">
                <td class="py-2 px-4 border-b">{{ day.day }}</td>
                <td class="py-2 px-4 border-b">
                  <input
                    type="text"
                    class="w-full border-gray-300 rounded-md shadow-sm bg-gray-700 p-2"
                    [(ngModel)]="day.slot1"
                    name="slot1-{{ day.day }}"
                  />
                </td>
                <td class="py-2 px-4 border-b">
                  <input
                    type="text"
                    class="w-full border-gray-300 rounded-md shadow-sm bg-gray-700 p-2"
                    [(ngModel)]="day.slot2"
                    name="slot2-{{ day.day }}"
                  />
                </td>
                <td class="py-2 px-4 border-b">
                  <input
                    type="text"
                    class="w-full border-gray-300 rounded-md shadow-sm bg-gray-700 p-2"
                    [(ngModel)]="day.slot3"
                    name="slot3-{{ day.day }}"
                  />
                </td>
              </tr>
            </tbody>
          </table>
          <div class="flex justify-between">
            <button
              type="submit"
              class="mt-4 block w-auto px-5 py-2 bg-gradient-to-r from-orange-500 to-pink-500 text-white font-bold rounded-md shadow-sm hover:from-orange-600 hover:to-pink-600"
            >
              Save Schedule
            </button>
            <button
              (click)="deleteall()"
              class="mt-4 block w-auto px-5 py-2 bg-gradient-to-r from-orange-500 to-pink-500 text-white font-bold rounded-md shadow-sm hover:from-orange-600 hover:to-pink-600"
            >
              Delete All Formulaires
            </button>
          </div>
        </form>
      </div>

      <!-- Day of Week Table -->
      <div class="bg-gray-900 p-6 rounded-lg shadow-lg">
        <h3 class="text-xl font-semibold mb-4">Users by Day of the Week</h3>
        <div class="overflow-x-auto">
          <table class="min-w-full">
            <thead>
              <tr>
                <th class="py-2 px-4 bg-gray-700 text-left font-bold">Day</th>
                <th class="py-2 px-4 bg-gray-700 text-left font-bold">
                  Period 1
                </th>
                <th class="py-2 px-4 bg-gray-700 text-left font-bold">
                  Period 2
                </th>
                <th class="py-2 px-4 bg-gray-700 text-left font-bold">
                  Period 3
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let day of scheduleData">
                <td class="py-2 px-4 border-b">{{ day.day }}</td>
                <td class="py-2 px-4 border-b">{{ day.slot1 }}</td>
                <td class="py-2 px-4 border-b">{{ day.slot2 }}</td>
                <td class="py-2 px-4 border-b">{{ day.slot3 }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>
</div>
