<div class="h-screen flex items-center justify-center bg-gray-800">
  <div
    class="w-full max-w-4xl bg-white rounded-lg shadow-lg flex overflow-hidden"
  >
    <!-- Left Side -->
    <div class="sm:w-1/2 w-full bg-gray-900 p-8 flex flex-col justify-center">
      <div class="text-center mb-8">
        <img
          src="https://via.placeholder.com/100x100.png"
          alt="Logo"
          class="mx-auto mb-4"
        />
        <h2 class="text-white text-2xl font-bold">User Interface Login</h2>
      </div>
      <div>
        <div class="mb-4">
          <label class="block text-gray-400 mb-2" for="email">Email</label>
          <input
            [(ngModel)]="user.email"
            type="email"
            id="email"
            class="w-full px-3 py-2 bg-gray-800 text-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-pink-600"
          />
        </div>
        <div class="mb-4">
          <label class="block text-gray-400 mb-2" for="password"
            >Password</label
          >
          <input
            [(ngModel)]="user.password"
            type="password"
            id="password"
            class="w-full px-3 py-2 bg-gray-800 text-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-pink-600"
          />
        </div>
        <button
          (click)="login()"
          type="submit"
          class="w-full py-2 bg-gradient-to-r from-orange-500 to-pink-500 text-white font-bold rounded hover:from-orange-600 hover:to-pink-600"
        >
          LOG IN
        </button>
        <div class="text-center mt-4">
          <a href="#" class="text-gray-500 hover:text-white"
            >Forgot password?</a
          >
        </div>
        <div class="text-center mt-4">
          <p class="text-gray-500">
            Don't have an account?
            <a
              href="registeruser"
              class="text-pink-500 hover:text-pink-600 font-bold"
              >REGISTER USER</a
            >
          </p>
        </div>
        <div class="text-center mt-4">
          <p class="text-gray-500">
            I am
            <a
              href="loginadmin"
              class="text-pink-500 hover:text-pink-600 font-bold"
              >Admin</a
            >
          </p>
        </div>
      </div>
    </div>
    <!-- Right Side -->
    <div
      class="hidden w-1/2 gradient-bg p-8 sm:flex flex-col justify-center bg-gradient-to-r from-orange-500 to-pink-500"
    >
      <h2 class="text-white text-3xl font-bold mb-4">
        We are more than just a company
      </h2>
      <p class="text-white">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>
    </div>
  </div>
</div>
